<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <SCRIPT src="../book/js/booku.js"></SCRIPT>
    <SCRIPT src="../js/main.js"></SCRIPT>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="icon" href="../img/lms.png">
</head>

<body>
    <span style="display:none" id="hdnUserInfo" th:text="${userInfo}"></span>
    <SCRIPT src="../js/header.js"></SCRIPT>
    <div th:if="${userType != 'M'}">
        <h3>&nbsp;&nbsp;&#x25A0 &nbsp;Search Book To Update</h3>
        <table>
            <tr><td>Book Id <label style='color:red'>*</label><td><input type="text" id="txtBookId"></input>
        </table>
        <br><button onclick = "fnSearchBook();">Search Book</button> <button onclick = "fnResetSrch();">Reset</button>
    </div>
    <div th:unless="${userType != 'M'}" style="color:red">
        <script>document.write(accessDeniedMsg);</script>
    </div>
  
    <div id="divUpdateBook"></div>
    <div id="divStatus" style="color:red"></div>
    <br><hr><br>
    <div>
        <a th:href="@{/book}"><button>Book Menu</button></a>  <a th:href="@{/menu}"><button>Main Menu</button></a>
    </div>
</body>
</html>