<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Transaction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <SCRIPT src="../transaction/js/transactiona.js"></SCRIPT>
    <SCRIPT src="../js/main.js"></SCRIPT>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="icon" href="../img/lms.png">
</head>

<body>
    <span style="display:none" id="hdnUserInfo" th:text="${userInfo}"></span>
    <SCRIPT src="../js/header.js"></SCRIPT>
    <div th:if="${userType != 'M'}">
        <h3>&nbsp;&nbsp;&#x25A0 &nbsp;Issue Book (Add Transaction)</h3>
        <table>
            <tr><td>User Id <label style='color:red'>*</label><td><input type="text" id="txtUserId" maxlength="4" size="4"></input>
            <td><td>Book Id <label style='color:red'>*</label><td><input type="text" id="txtBookId" maxlength="4" size="4"></input></tr>
        </table>
        <br><button id="btnAddTransaction" onclick="fnAddTransaction();">Issue Book (Add Transaction)</button> &nbsp; <button onclick="fnReset();">Reset</button>
        &nbsp <button id="btnAddAnotherTransaction" onclick="fnAddAnotherTransaction();" class='dbtn'>Issue Another Book (Add Another Transaction)</button>
    </div>
    <div th:unless="${userType != 'M'}" style="color:red">
        <script>document.write(accessDeniedMsg);</script>
    </div>
    <div id="divStatus" style="color:red"></div>

    <br><hr><br>
    <div>
        <a th:href="@{/transaction}"><button>Transaction Menu</button></a>  <a th:href="@{/menu}"><button>Main Menu</button></a>
    </div>
</body>
</html>