<!DOCTYPE html>
<html lang="en">
    <head>
    <title>LMS Menu Page</title>
 </head>

 <body>
    <div text-align=center>
       <h2>Menu List</h2>
       <button onclick="window.location.href='user.html'">User Menu</button> &nbsp;&nbsp;
       <button onclick="window.location.href='book.html'">Book Menu</button>  &nbsp;&nbsp;
       <button onclick="window.location.href='transaction.html'">Borrow/Return Menu</button> &nbsp;&nbsp;
       <button onclick="window.location.href='report.html'">Report Menu</button>
    </div>
 </body>
</html>
