<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search BookInfo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <SCRIPT src="../bookinfo/js/bookinfor.js"></SCRIPT>
    <SCRIPT src="../js/main.js"></SCRIPT>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="icon" href="../img/lms.png">
</head>

<body>
    <span style="display:none" id="hdnUserInfo" th:text="${userInfo}"></span>
    <SCRIPT src="../js/header.js"></SCRIPT>
        <h3>&nbsp;&nbsp;&#x25A0 &nbsp;BookInfo Search Criteria</h3>
        <table>
            <tr><td>BookInfo Id <label style='color:red'>*</label><td><input type="text" id="txtBookInfoId"></input>
                <td colspan=6>OR<td>Title <label style='color:red'>*</label><td><input type="text" id="txtBookInfoTitle"></input>
            <tr><td><td><button onclick = "fnSearchBookInfo();">Search BookInfo(s)</button> <button onclick = "fnReset();">Reset</button>
        </table>
    </div>
    <div id="divListBookInfo"></div>
    <div id="divDtlsBookInfo"></div>

    <br><hr><br>
    <div>
        <a th:href="@{/bookinfo}"><button>BookInfo Menu</button></a>  <a th:href="@{/menu}"><button>Main Menu</button></a>
    </div>
</body>
</html>