<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>500 - Internal Server Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="icon" href="../img/lms.png">
</head>
<body style="background-image: url('../img/librarybg.png'); background-repeat: no-repeat;">
    <SCRIPT src="../js/header1.js"></SCRIPT>
    <h1>Internal Server Error</h1>
    <p><img style="vertical-align: middle" src="../img/errorIcon.png" />
        Sorry, there was an Internal Server Error.</p>
</body>
</html>
